* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
  letter-spacing: var(--mainSpacing);
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* p {
  font-size: 1em;
} */

.screen {
  padding: 2em 3vw;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-no-color {
  background: var(--mainWhite);
  border: none;
}
.action-btn {
  /* text styles */
  font-size: 15px;
  color: #fff;

  /* box styles */
  background: #255796;
  border: 1px solid #255796;
  border-radius: 21px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset,
    0 1px 1px rgba(1, 4, 8, 0.2);
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-no-color:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

.action-btn:hover {
  background: #fff;
  color: #255796;
}

.btn-sm {
  letter-spacing: var(--mainSpacing);
  font-size: 14px;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}
.btn-disable {
  background: #ccc;
  pointer-events: none;
  border: none;
}

.align-bottom-right {
  text-align: end;
  padding: 3rem;
}

@media screen and (max-width: 500px) {
  .btn-sm {
    letter-spacing: 2px;
    font-size: 9px;
  }
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.small-loading {
  height: 3.5em;
  width: 3.5em;
  color: white;
  margin: 0;
}
.small-loading img {
  height: 100%;
  width: 100%;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.error-card {
  /* letter-spacing: var(--mainSpacing);
  color: #cd472b;
  */
  text-align: center;
  padding: 20px;
  background-color: #cd472b; /* Red */
  color: white;
  margin-bottom: 15px;
}
.error-card h4 {
  margin: auto;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 150px;
}
.show-nav-min-height {
  height: 120px;
}
.show-nav-max-height {
  height: 195px;
}

#cart {
  font-size: 24px;
  position: relative;
}
.cart-count {
  background: var(--primaryColor);
  font-size: 0.8em;
  color: var(--mainWhite);
  border-radius: 50%;
  padding: 0 4px;
  position: absolute;
  bottom: 10px;
  right: -10px;
}

.profile-dropdown {
  margin: auto;
  max-width: 10rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--mainWhite);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* .dropdown-content a {
  color: var(--mainBlack);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--mainGrey);
} */

.profile-dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (min-width: 1055px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  .profile-dropdown-align {
    position: absolute;
    right: 5rem;
    padding-top: 0;
    display: flex;
  }
  .profile-dropdown {
    padding-right: 1em;
  }
}
/* end of navbar */

/* Hero */

.defaultHero,
.menuHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url('./images/defaultBcg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url('./images/rooms/room-2.jpeg');
  min-height: 60vh;
}
.menuHero {
  background-image: url('./images/meals/hero-image.jpg');
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 2rem;
}
.section-title h4 {
  font-size: 1.5rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}

@media screen and (max-width: 500px) {
  .section-title h4 {
    font-size: 1rem;
  }
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem;
}
#filter-form {
  width: 60vw;
  text-transform: capitalize;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

#filter-form label {
  display: block;
  letter-spacing: var(--mainSpacing);
  /* margin-bottom: 0.5rem; */
}
#filter-form .form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
#filter-form .size-inputs {
  display: flex;
}
#filter-form .size-input,
.date-input {
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  max-width: 10rem;
}

#filter-form .size-input {
  width: 40%;
  margin-right: 0.3rem;
}
#filter-form .single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/

/* Login form */
.edit-form-screen {
  padding: 3rem 5rem;
  max-width: 50rem;
}
.form-group {
  text-transform: capitalize;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.form-group label {
  padding-bottom: 0.5em;
}
.form-control {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.input-error {
  border-color: red;
}

.extras-input input {
  height: 5px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.extra-list {
  list-style: none;
  padding: 1rem;
}
.extra-list:hover {
  cursor: context-menu;
}
.note {
  padding-top: 0.8rem;
  font-size: 0.8rem;
  text-transform: none;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.form-group button {
  width: 8rem;
}

@media screen and (max-width: 500px) {
  .form-group {
    font-size: 10px;
  }
}
/* end of Login form */

/* Cart Screen */
.cart {
  padding: 2em 0;
  padding-left: 7vw;
  padding-right: 7vw;
}
.cart-item {
  width: 60vw;
  text-transform: capitalize;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  /* border-bottom: solid 0.02em #444; */
}

.cart-image {
  width: 30vw;
  min-width: 250px;
}
.cart-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1066px) {
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* end of Cart Screen */

/* Payment Screen */
.payment-screen {
  padding: 1.2rem 0 2.5rem 1.2rem;
  display: flex;
  flex-direction: column;
}
.centered {
  padding-top: 40vh;
  text-align: center;
}
.payment-screen p {
  line-height: 1.5;
}
.underlined-link {
  /* color: #3090c7; */
  color: #255796;
  text-decoration: underline;
  font-style: italic;
}
.summary-container {
  margin: 20px 0;
  padding: 10px;
  display: block;
}

.one-half-responsive {
  width: 47%;
  float: left;
  margin: 2px;
  padding-left: 5px;
  line-height: 2.8rem;
  text-transform: capitalize;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--mainBlack);
  background: var(--offWhite);
}
.summary-left {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  line-height: 30px;
}
.summary-right {
  text-align: right;
}
.last {
  padding-left: 0;
}
.summary-heading {
  margin-bottom: -0.1rem;
  float: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--mainBlack);
}
.summary-label {
  font-size: 13px;
  font-weight: 600;
  color: var(--mainBlack);
}
.border-line {
  border: 0.1px solid #ccc;
}
@media screen and (max-width: 700px) {
  .one-half-responsive {
    clear: both;
    width: 100%;
  }
}

.item-a {
  grid-area: email;
}
.item-b {
  grid-area: fName;
}
.item-c {
  grid-area: lName;
}
.item-d {
  grid-area: title;
}
.item-e {
  grid-area: mobile;
}
.item-f {
  grid-area: note;
}

.form-one-half-responsive {
  padding: 0 5px;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'email email'
    'fName lName'
    'title mobile'
    'note note';
  grid-column-gap: 5px;
}

.note-input {
  width: 100%;
  padding-right: 10px;
}

/* end of Payment Screen */

/* Login Screen */
.login-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-btn {
  margin: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 0.4em;
  color: var(--mainWhite);
  font-size: 20px;
  letter-spacing: var(--mainSpacing);
  cursor: pointer;
  text-decoration: none;
}
.login-btn-google {
  background: #dd4b39;
}
.login-btn-google:hover {
  background: #e84b37;
}
.login-btn-facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
}
.login-btn-facebook:hover {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}
/* end of Login Screen */

/* Admin Room List Screen */

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--darkGrey);
  text-align: left;
  padding: 15px 8px;
}
td {
  text-transform: capitalize;
}

td img {
  max-height: 4em;
  max-width: 4em;
}

tr:nth-child(even) {
  background-color: var(--mainGrey);
}

@media screen and (max-width: 500px) {
  td,
  th {
    font-size: 10px;
  }
}
/* end of Admin Room List Screen */

/* Profile Screen*/
.profile-screen {
  display: flex;
}
.profileScreen-section {
  padding: 2em;
  width: 100%;
}
.user-profile {
  width: 50%;
}

.profileScreen-section section {
  padding-bottom: 3em;
}

@media screen and (max-width: 800px) {
  .profile-screen {
    flex-direction: column;
  }
  .user-profile {
    width: 100%;
  }
}
/* end of Profile Screen*/

/* booking Details Screen */
.bookingDetails-screen {
  padding-bottom: 4em;
}
.bookingDetails-summaries {
  display: flex;
  justify-content: space-between;
}
.on-half-responsive-full-width {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .bookingDetails-summaries {
    flex-direction: column;
  }
}
/* end of booking Details Screen */

/* Menu Screen */
.modal-box {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
  position: relative;
  width: 80%;
  max-width: 500px;
  background-color: white;
}
.close {
  position: absolute;
  top: 0;
  right: 5px;
  float: right;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--mainWhite);
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  border-radius: 50%;
}
.modal-image {
  width: 100%;
  height: 50%;
}
.modal-image img {
  height: 100%;
  width: 100%;
}

.modal-content p {
  color: #808080;
  font-size: 0.8em;
}

.modal-row {
  display: flex;
}
.modal-button-container {
  padding: 20px 0;
  justify-content: space-between;
}

.order-count-item {
  margin: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
}

.modal-row button {
  border: none;
}

.order-count-btn {
  background: #eeeeee;
  border-radius: 50%;
  cursor: pointer;
}
.order-count-btn span {
  font-weight: bold;
  font-size: 1.4em;
}

/* end of Menu Screen */

/* PlaceOrder Screen */

.placeorder-section {
  padding-bottom: 2em;
  width: 100%;
  max-width: 800px;
}

.placeorder-itemlist {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 10px;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.orderitems li:first-child {
  border-top: 1px solid #ccc;
}
.item-column {
  width: 30%;
  padding: 0.5em;
}
.item-column img {
  width: 80%;
  height: 80%;
  max-width: 100px;
  max-height: 100px;
}

.payment-summary {
  padding-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

/* end of PlaceOrder Screen */
